 @font-face {
     font-family: 'Roboto';
      src:url('@{baseDir}/fonts/Roboto.woff2')format('woff2');
     font-weight: 300;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
   font-family: 'FontAwesome';
   src:url('@{baseDir}/fonts/fontawesome-webfont.woff2')format('woff2');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
 }