& when (@media-common = true) {

    .product-item-details {
        .product-reviews-summary {
            display: none;
        }
    }

    .product-item-inner {
        .product-item-actions {
            .actions-secondary {
                display: none;
            }
        }
    }

    .page-main {
        .columns {
            flex-wrap: nowrap;

            .block-mobile {
                display: none;
            }

            .sidebar.sidebar-additional {
                width: 25%;

                .block-compare,
                .block-wishlist {
                    display: none;
                }

                .vk-widget {
                    display: flex;
                    justify-content: center;
                }

                .social {
                    border: 1px solid #e2e6e7;
                    background-color: #ffffff;
                    background-image: linear-gradient(to top, #fafafa 0%, #ffffff 100%);
                    border-top: 3px solid #fc5b5b;
                    padding: 12px 35px;
                    margin: 20px 0;

                    .social-title {
                        margin-bottom: 10px;
                        color: #6b6b6b;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 14px;
                    }

                    .social-list {
                        display: flex;
                        justify-content: space-between;
                        margin: 0;
                        padding: 0;
                        list-style: none;
                    }

                    .social-item {
                        margin: 0;

                        a {
                            display: flex;
                            width: 25px;
                            height: 30px;
                            font-size: 20px;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;

                            &:hover {
                                color: #fc5b5b;
                            }
                        }
                    }
                }
            }
            .sidebar-main {
                flex-basis: auto;
            }
        }
    }

    .toolbar-products {
        .pages {
            .item {
                width: 27px;
                height: 27px;
                background-color: #f3f3f3;
                line-height: 27px;
                .page {
                    span {
                        color: #6b6b6b;
                    }
                }
            }
            .item.current {
                background-color: #fc5b5b;
                .page {
                    line-height: 27px;
                    span {
                        color: #fff;
                    }
                }
            }
            .action {
                width: 24px;
                height: 24px;
                border: none;
            }
            .action.previous::before {
                margin: 0 0 0 -10px;
            }
            .action.next::before {
                margin: 0 0 0 -22px;
            }
            .items.pages-items {
                display: flex;
                align-items: center;
            }
        }
    }

    .column.main {
        .page-title-wrapper {
            border-bottom: 1px solid #39b1b5;
            .page-title {
                color: #6b6b6b;
                font-size: 30px;
                line-height: 30px;
                margin-bottom: 5px;
            }
        }

        .toolbar-products {
            margin-top: 20px;
        }

        .breadcrumbs {
            margin-bottom: 15px;
        }
    }

    .page-products {
        .toolbar.toolbar-products {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &::before,
            &::after {
                display: none;
            }
            .modes {
                display: none;
            }
            .toolbar-amount {
                display: none;
            }
            .limiter {
                display: block;
                order: 1;

                .limiter-text {
                    display: none;
                }
                .limiter-options {
                    color: #39b1b5;
                }
            }
        }
    }

    .columns {
        .sidebar-main {
            .block-title {
                display: none;
            }

            .block-subtitle {
                display: none;
            }

            .filter-options {
                .filter-options-title {
                    color: #39b1b5;
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 22px;
                    padding-left: 8px;
                    border-left: 3px solid #e2e6e7;
                    margin: 35px 0 15px;
                }
            }
        }
    }

    .page-main {
        .columns {
            .sidebar.sidebar-main {
                width: 25%;

                .filter-options-content {
                    a {
                        color: #727272;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 24px;
                    }
                }
                .filter-current {
                    .filter-label {
                        color: #39b1b5;
                    }

                    .item {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }


        }
    }

    .page-products {
        .columns {
            .column.main {
                width: 75%;
            }
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .page-wrapper {
        .page-main {
            .columns {
                flex-wrap: wrap;
                position: relative;

                .products-grid {
                    .product-item {
                        width: 100%;
                    }
                }
                .block.filter {
                    &.-display {
                        display: none;
                    }
                }

                .block.filter {
                    margin-bottom: 40px;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    top: -3000px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 2;
                    background: rgba(249,246,246, 0.9);
                }

                .block-mobile {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 4;
                    font-size: 20px;
                    cursor: pointer;
                    color: #6b6b6b;

                    .show {
                        display: none;
                    }
                }

                .sidebar.sidebar-additional {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .social {
                        width: 75%;
                    }
                }
            }
        }
    }
}