& when (@media-common = true) {
    .page-error_wrapper {
        display: flex;
    }
    .page-error_content {
        width: 35%;
        color: #4d4d4d;
        margin: 168px 0 0 28px;
        font-size: 18px;

        .products-main_caption {
            margin: 0 0 21px;

            h2 {
                letter-spacing: -2px;
            }
        }

        .products-main_decor {
            width: 65px;
        }

        > p:nth-child(3) {
            margin: 20px 0;
            font-size: 22px;
            letter-spacing: 4px;
        }
    }

    .cms-no-route {
        .column main {
            padding-bottom: 38px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .cms-no-route {
        .page-error_wrapper {
            flex-direction: column;

            .page-error_img {
                text-align: center;
            }

            .page-error_content {
                width: 100%;
                color: #4d4d4d;
                margin: 100px 0 0 0;
                font-size: 18px;
                padding: 0 5px;
            }
        }
    }
}