& when (@media-common = true) {

  @footer_color: #c1cdd1;

  .page-footer {
      background-color: #747c7f;
  }

  .footer.content {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

  }

  .footer.content {
    color:@footer_color;
      h4 {
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 9px
      }

      .main-links_list {
        flex-direction: column;
      }

      .main-links_list,
      .footer-menu_list {
        margin-left: 20px;
        a {
          color: #c1cdd1;
          font-size: 14px;
          line-height: 22px;
          text-decoration: underline;
          position: relative;
          display: block;
          padding-left: 10px;
        }

        a:before {
          content: "";
          display: block;
          width: 6px;
          height: 6px;
          border-right: 1px solid @footer_color;
          border-top: 1px solid @footer_color;
          position: absolute;
          left: 0;
          top: 0;
          transform: translateX(-3px) translateY(8px) rotate(45deg);
        }

        a:hover{
          color: #fff;
        }

        li:hover a:before {
          border-color: #fff;
        }
      }
    }

  .footer-menu {
      li {
        line-height: 24.37px;
      }

      li {
        a {
          color: #c1cdd1;
          font-size: 14px;
          line-height: 22px;
          text-decoration: underline;
        }
      }
  }

  .footer-contact_inform {
    color: #c9cccd;
  }

  .footer-contact {
    width: 175px;

    p {
      margin: 0;
    }

    .footer-contact_inform {
      color: #fff;
      margin: 4px 0 0 5px;
    }
  }

  .footer-copyright {
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5px;

    img {
      width: 134px;
      height: 30px;
    }
  }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

  .footer.content {
    flex-direction: column;
    align-items: center;

    .main-links,
    .footer-menu,
    .footer-contact,
    .footer-copyright {
      margin-top: 10px;
    }
  }

}



