& when (@media-common = true) {

  body,select {
    font-family: 'Roboto', sans-serif;
  }

  .navigation,
  .breadcrumbs,
  .page-header .header.panel,
  .header.content,
  .footer.content,
  .page-wrapper > .widget,
  .page-wrapper > .page-bottom,
  .block.category.event,
  .top-container,
  .page-main {
    max-width: 980px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  //  Header


  .page-header {
    .panel.wrapper {
      border: none;
      background-color: #f0f4f5;
      border-top: 3px solid #39b1b5;
    }
  }

  .header.panel > .header.links > .wishlist {
    display: none;
  }

  .header.panel > .header.links > .welcome {
    display: none;
  }

  .header.panel > .header.links > .compare {
    display: none;
  }

  .page-header {
    .header.panel {
      > .header.links {
        order: 2;
        margin-left: 0;
        background-color: #39b1b5;

        > li {
          text-align: center;
          width: 102px;
          font-size: 14px;
          margin: 0;
          padding: 8px 0;

          a {
            color: #fff;
          }
        }
      }
    }
  }


  .page-header {
    .header.panel {
      > .header.links {
        > li:last-child {
          width: 125px;
          padding: 8px 20px
        }
      }
    }
  }

  .authorization-link {
    position: relative;
    border-right: 1px dashed #fff;
  }

  .authorization-link {
    a:before {
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 10px;
      left: 10px;
      background: url('@{baseDir}/images/login-15.png');
    }
  }

  .page-wrapper {
    .page-header {
      .header.panel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  .page-wrapper {
    .header.panel {
      &::before {
        display: none;
      }
    }
  }


  .panel.header {
    .main-links {
      h4 {
        display: none;
      }
    }
  }

  .main-links_list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .main-links_list {
    li {
      margin: 0;
      margin-right: 18px;
      line-height: 24.37px;
    }

    li {
      a:hover {
        color: #369797;
        text-decoration: underline;
      }
    }

    li {
      a {
        color: #747c7f;
        font-size: 13px;
        font-weight: 300;
      }
    }
  }

  .page-header {
    .header.content {
      display: flex;
      justify-content: space-between;
      padding: 0 !important;
    }
  }

  .header.content::before {
    display: none !important;
  }

  .header.content {
    .logo {
      margin: 0;
      margin-top: 30px;
    }

    .minicart-wrapper {
      order: 2;
      width: 225px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .minicart-wrapper {
    .action.showcart {
      .counter.qty {
        margin-top: 11px;
        height: 20px;
        line-height: 20px;
        border-radius: 50%;
      }
    }

    .block-content {
      > .actions {
        > .primary {
          .action.primary {
            background: #ff5501;
            border: none;
          }
        }
      }
    }
  }

  .block.block-search {
    width: 470px;
    margin-right: 40px;
    margin-left: 30px;
    padding-left: 0;
  }

  .block.block-content {
    .control {
      display: flex;
      flex-direction: column;
      width: 470px;
    }

    .control {
      .input-text {
        order: 2;
        width: 353px;
        height: 38px;
      }

      .nested {
        display: none !important;
      }
    }
  }

  .block-search {
    .actions {
      .action.search {
        right: -15px;
        bottom: -42px;

        > span {
          display: block;
          width: 115px;
          height: 38px;
          line-height: 38px;
          font-size: 16px;
          color: #747c7f;
          background-color: #e7eced;
          position: unset;
          overflow: visible;
          text-transform: uppercase;
        }
      }
    }
  }

  .form.minisearch {
    .actions {
      .action.search::before {
        display: none;
      }
    }
  }

  .header-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 22px 0 13px 30px;
  }

  .header-contact_number {
    position: relative;
    margin: 0;
    font-size: 21px;
    color: #fc5b5b;
    font-weight: bold;
  }

  .header-contact_number span {
    font-size: 14px;
    font-weight: 300;
  }

  .header-contact_number:before {
    content: "\f095";
    font: normal normal normal 18px/1 FontAwesome;
    display: block;
    position: absolute;
    font-size: 25px;
    left: -22px;
    top: 2px;
  }

  .header-contact_work {
    color: #747c7f;
    font-size: 13px;
    letter-spacing: 0.07px;
  }

  .header.content {
    .minicart-wrapper {
      .action.showcart:before,
      .action.showcart.active:before {
        content: '\f290';
        font-family: 'FontAwesome';
        background-color: #fc5b5b;
        color: #fff;
        padding: 6px 5px;
        font-size: 19px;
        width: 28px;
        height: 28px;
        line-height: 28px;
      }
    }
  }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

  .main-links_list {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .page-header {
    .panel.wrapper {
      display: flex;
      justify-content: center;

    }
  }

  .page-header {
    .header.content {
      .block.block-search {
        margin: 0;
        width: 100%;
      }

      .logo {
        margin-top: 55px;
      }
    }
  }

  .page-wrapper {
    .page-header {
      .header.content {
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
      }
    }
    .header-contact {
      flex-direction: column;
      margin-top: 5px;
    }
  }

  .field.search {
    position: relative;
    display: flex;
    justify-content: center;
    .label {
      position: absolute;
      right: 0;
    }
  }
  .block.block-search {
    .block.block-content {
      .control {
        align-items: center;
        width: 80%;
        .input-text {
          width: 100%;
        }
      }
    }
  }


  .header-contact {
    .header-contact_number {
      font-size: 20px;
    }
  }

  .block-search {
    .form.minisearch {
      position: absolute;
      width: 100%;
      top: 10px;

      .field.search {
        .label {
          top: 10px;
        }
      }
    }

    .control {
      border: none;
    }
  }
}

