& when (@media-common = true) {

  @main-color: #39b1b5;

  .columns .column.main {
    padding-bottom: 57px;
  }
  .cms-home {
    .page-title-wrapper {
      display: none;
    }
  }


  .main-banner {
    display: flex;
    margin-top: 5px;
  }

  .main-banner_slider {
    width: 80%;

  }
  .main-banner_clock {
    img{
      width: 100%;
      height: 100%;
    }
  }

  .main-banner_decoration {
    margin-left: 20px;
    width: 20%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-banner_decoration img {
    padding: 15px 0;
    background-color: #fff;
    border-left: 3px solid #39b1b5;;
  }

  .main-banner_decoration img:first-child {
    border-left: 3px solid #fc5b5b;
    margin-bottom: 30px;
  }

  .products-main {
    margin-top: 20px;
  }

  .products-main_caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }

  .products-main_caption h2 {
    margin: 0;
    padding-left: 8px;
    border-left: 3px solid @main-color;
    color: #747c7f;
    font-size: 28px;
  }

  .products-main_caption {
    p {
      margin: 0;
    }
  }

  .products-main_decor {
    width: 570px;
    height: 1px;
    background-color: #e2e6e7;
    margin: 0;
  }

  .products-main_list {
    margin-top: 15px;
  }

  .products-grid.grid {
    .product-items.widget-product-grid {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  .product-item {
    .product-item-info {
      box-shadow: inset 0 -3px 0 #e2e6e7;
      border: 1px solid #e2e6e7;
      background-color: #fafafa;
    }
  }

  .product-item {
    .product-item-info:hover {
      box-shadow: inset 0 -3px 0 @main-color;
    }
  }

  .product-item {
    .price-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 6px 0 10px;
      .price {
        font-size: 22px;
        color: #fc5b5b;
        font-weight: 400;
      }
   }
    .special-price {
      order: 2;
    }

    .price-label {
      display: none;
    }
  }

  .product-item-inner {
    padding-bottom: 10px;
  }

  .old-price {
    .price-final_price {
      .price {
        color: @main-color;
        font-size: 16px;
        letter-spacing: 0.08px;
      }
   }
  }

  .product-item  {
    .product-item-name {
      text-align: center;
      padding: 0 10px;
    }
  }

  .products-grid {
    .product-item-actions {
      display: flex;
      justify-content: center;
    }
  }

  .product-image-wrapper {
    background: #fff;
  }

  .action.tocart.primary {
    width: 130px;
    height: 38px;
    border: none;
    background-color: #747c7f;
    text-transform: uppercase;
  }

  .action.tocart.primary:hover {
    background-color: @main-color;
  }

  .products-main_list {
    .product-item-details {
      .product-reviews-summary,
      .actions-secondary {
        display: none;
      }
    }
  }

  .product-item-link {
    color: #434b4e;
    font-size: 16px;
    line-height: 21px;
  }

  .product-item-photo {
    display: flex;
    justify-content: center;
  }

  .about-us {
    .products-main_decor {
      width: 755px;
    }

    h3 {
      color: #fc5b5b;
      font-size: 16px;
      font-weight: bold;
      line-height: 20px;
      text-transform: uppercase;
      text-align: center;
      margin: 25px 0 0;
    }

    > p {
      margin: 15px 0 0;
      color: #747c7f;
      font-size: 13px;
      font-weight: 300;
      line-height: 19px;
    }

    > p:last-child {
      margin: 10px 0 0;
    }
  }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = "976") {


}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .main-banner {
    flex-direction: column;
    align-items: center;
  }

  .main-banner {
    .main-banner_decoration {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin-left: 0;
      width: 45%;
      margin-top: 20px;
    }
  }

  img {
    border: none;
  }

  .products-main_decor {
    display: none;
  }

  .products-main_how {
    text-align: center;
    margin-left: 10px;
  }
  .cms-home {
    .products-grid.grid {
      .product-items.widget-product-grid {
        justify-content: space-around;
      }
    }
  }

}