& when (@media-common = true) {
  * {
    box-sizing: border-box;
  }

  .nav-sections {
    background-color: #ffffff;
    background-image: linear-gradient(to top, #f5f7f8 0%, #ffffff 100%);
    border-top: 1px solid #e2e6e7;
    border-bottom: 1px solid #e2e6e7;
    box-sizing: border-box;

    .navigation {
      background: none;

      .ui-menu {
        padding: 0;

        .level0 {
          margin: 0;

          .level-top {
            color: #6b6b6b;
            line-height: 65px;

            &:active,
            &:hover {
              color: #fc5b5b;
            }
          }
          .submenu {
            a {
              &:hover,
              &.ui-state-focus {
                color:#fc5b5b;
                background: none;
              }
            }

            .active {
              > a {
                border: none;
              }
            }
          }
        }
      }
      .level0.active,
      .level0.has-active {
        > .level-top {
          border: none;
          box-shadow: -4px -8px 0px -5px #fc5b5b inset;
        }
      }
    }
  }
  .ui-menu-item {
    &:hover {
      box-shadow: -4px -8px 0px -5px #fc5b5b inset;
    }
  }
}