& when (@media-common = true) {

    .page-title-wrapper.product {
        border-bottom: 1px solid #39b1b5;

        .page-title {
            color: #6b6b6b;
            font-size: 30px;
            line-height: 30px;
            margin-bottom: 5px
        }
    }
    .product-info-price {
        .product-info-stock-sku {
            .stock.available {
                color: #39b1b5;
                font-size: 18px;
                font-weight: 300;
                line-height: 32px;
                text-transform: none;
            }
        }
        .product-reviews-summary {
            display: none;
        }
    }

    .catalog-product-view {
        .product-social-links {
            display: none;
        }

        .product-info-main {
            .product.attribute.sku {
                color: #6b6b6b;
                font-size: 16px;
                font-weight: 300;
                line-height: 22px;
            }

            .price-box {
                display: flex;
                flex-direction: column;
                margin: 0 0 10px;

                .special-price {
                    order: 1;
                }

                .price-label {
                    display: none;
                }

                .old-price {
                    color: #fc5b5b;

                    .price {
                        color:#fc5b5b;
                        font-size: 20px;
                    }
                }

                .special-price {
                    margin: 0;

                    .price {
                        color: #6b6b6b;
                        font-size: 32px;
                        letter-spacing: 0.16px;
                        line-height: 30px;
                        font-weight: normal;
                    }
                }
            }
        }
        .action.tocart.primary {
            width: 150px;
            height: 44px;
            background-color: #39b1b5;
            font-weight: normal;

            &:hover {
                background-color: #369797;
            }
        }
        .product-add-form {
            .fieldset {
                display: flex;
                align-items: center;

                .field.qty {
                    display: flex;
                    align-items: center;
                    margin: 0;
                    position: relative;

                    .label {
                        margin: 0 10px 0 0;
                    }

                    .input-text.qty {
                        height: 100%;
                        width: 30px;
                        border-width: 0 1px;
                        border-style: solid;
                        border-color: #e2e6e7;
                        padding: 0;
                    }

                    .control {
                        display: flex;
                        height: 27px;
                        border: 1px solid #e2e6e7;

                        .mage-error[generated] {
                            width: 220px;
                            position: absolute;
                            top: -35px;
                            left: 0;
                        }
                    }

                    .control-decoration {
                        display: block;
                        width: 25px;
                        line-height: 25px;
                        text-align: center;
                        cursor: pointer;
                    }
                }
                .actions {
                    padding-top: 0;
                    margin-left: 30px;
                }
            }
        }
    }

    .catalog-product-view {
        .column.main {
            .product.media {
                width: 35%;
            }

            .product-info-main {
                width: 37%;
            }
        }
    }

    .product-inform_wrapper {
        position: relative;
        margin-top: 55px;
    }

    .product-inform {
        display: flex;
        align-items: center;

        .product-inform_original,
        .product-inform_delivery {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 65px;
            border: 1px solid #e2e6e7;
            cursor:pointer;
        }

        .product-inform_original {
            background: url("@{baseDir}/images/product-inform/original.png") no-repeat center, linear-gradient(to top, #f5f7f8 0%, #ffffff 100%);
            margin-right: 30px;

            &:hover {
                background: url("@{baseDir}/images/product-inform/original-hover.png") no-repeat center, linear-gradient(to top, #f5f7f8 0%, #ffffff 100%);
            }
        }
        .product-inform_delivery {
            background: url("@{baseDir}/images/product-inform/delivery.jpg") no-repeat center;

            &:hover {
                background: url("@{baseDir}/images/product-inform/delivery-hover.jpg") no-repeat center;
            }
        }
    }
    .product-inform_question {
        max-width: 333px;
        background-color: #e7eced;
        color: #747c7f;
        font-size: 16px;
        font-weight: bold;
        padding: 13px 0;
        text-transform: uppercase;
        margin-top: 30px;
        text-align: center;
        cursor:pointer;
    }

    .product-original_popup,
    .product-delivery_popup {
        display: none;
        position: absolute;
        top: 0;
        left: -80%;
        width: 263px;
        border: 1px solid #39b1b5;
        background-color: #ffffff;
        padding: 10px;
        z-index: 2;

        & p {
            color: #6b6b6b;
            font-size: 11px;
            font-weight: 300;
            line-height: 12px;
        }
    }

    .product-info_active {
        display: block;
    }

    .product-delivery_popup {
        left: -30%;
    }

    .product-question_popup {
        display: none;

        form {
            margin: 5px;
            border: 1px solid #39b1b5;
            padding: 30px 20px;

            input {
                margin-bottom: 10px;
            }

            label {
                color: #444444;
                font-size: 14px;
                font-weight: 300;
                line-height: 24.37px;
            }

            .submit {
                text-align: center;
                margin-top: 30px;

                input {
                    width: 150px;
                    height: 44px;
                    background-color: #39b1b5;
                    color: #fff;
                    border: none;
                    font-size: 16px;
                    text-transform: uppercase;

                    &:hover {
                        background-color: #369797;
                    }
                }
            }
        }
    }
    .product-info-main-wrapper {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;

        .product-info-main {
            .box-tocart {
                margin: 15px 0 0;
            }
        }

        .product-quick_order {
            width: 25%;

            .product-quick_order-wrapper {
                box-shadow: inset 0 -3px 0 #e2e6e7;
                border: 1px solid #e2e6e7;
                background-color: #fafafa;
                padding: 0 15px;
                margin-bottom: 15px;
            }

            h3 {
                text-shadow: 0 1px 0 #ffffff;
                color: #39b1b5;
                font-size: 22px;
                font-weight: 300;
                text-transform: uppercase;
                margin: 20px 0 0 0;
            }

            p {
                color: #6b6b6b;
                font-size: 14px;
                font-weight: 300;
                line-height: 18px;
                margin: 10px 0 18px;
            }

            input {
                border: 1px solid #e2e6e7;
                background-color: #ffffff;
                margin-bottom: 10px;
                height: 27px;
            }


            .product-order_information {
                text-align: center;

                .change-color {
                    color: #fc5b5b;
                }
                p {
                    margin: 5px 0;
                }
            }
        }

        .product-info-price {
            margin-bottom: 30px;
        }

        .product-info-stock-sku {
            position: relative;
            display: flex;
        }

        .delivery-terms {
            position: absolute;
            right: 15%;
            top: 50%;
            width: 113px;
            height: 50px;
            cursor: pointer;
            background: url("@{baseDir}/images/product-inform/delivery-terms.png") no-repeat center, linear-gradient(to top, #f5f7f8 0%, #ffffff 100%);

            &:hover {
                background: url("@{baseDir}/images/product-inform/delivery-terms-hover.png") no-repeat center, linear-gradient(to top, #f5f7f8 0%, #ffffff 100%);
            }

            &:hover > p {
                color: #fc5b5b;
            }

            > p {
                color: #6b6b6b;
                font-size: 12px;
                font-weight: 300;
                line-height: 13px;
                text-transform: uppercase;
                margin: 8px 0 0 12px;
            }

            .delivery-terms_inform {
                display: none;
                position: absolute;
                top: -31%;
                right: -271%;
                width: 242px;
                height: 305px;
                box-shadow: inset 0 -3px 0 #e2e6e7;
                border: 1px solid #e2e6e7;
                background-color: #fafafa;
                color: #6b6b6b;
                font-size: 13px;

                h3 {
                    text-shadow: 0 1px 0 #ffffff;
                    color: #39b1b5;
                    font-size: 16px;
                    font-weight: 300;
                    text-transform: uppercase;
                    text-align: center;
                    border-left: 3px solid #39b1b5;
                }

                span {
                    font-size: 14px;
                    font-weight: bold;
                }

                p {
                    margin-bottom: 15px;
                    padding: 0 10px;
                }
            }

            .product-info_active {
                display: block;
            }
        }

        .submit {
            text-align: center;
            margin-bottom: 10px;

            input {
                max-width: 100%;
                padding: 0 5px;
                height: 38px;
                background-color: #747c7f;
                color: #ffffff;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }

    .modal-popup {
        .modal-inner-wrap {
            width: 330px;
        }

        .modal-content {
            padding: 10px;
        }

        .modal-header {
            padding: 0;
        }
    }

    .product.info.detailed {
        .product.data.items {
            display: flex;
            flex-direction: column;
            margin-top: 30px;

            .item.content {
                display: block !important;
                margin: 0;
                padding-top: 0;
                border: none;
            }

            .data.item.title {
                text-align: center;

                .switch {
                    border: none;
                    background: none;
                    color: #6b6b6b;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 24.37px;
                    text-transform: uppercase;
                }
            }

            .review-item {
                font-size: 16px;
                color: #6b6b6b;
            }

            .item.review-item {
                position: relative;
            }

            .review-details-label {
                display: none;
            }

            .review-content {
                margin: 0 0 0 80px;
            }

            .review-details {
                margin: 0;
            }

            .review-author {
                position: absolute;
                top: 35%;
                left: 0;
                color: #39b1b5;
            }

            .review-date {
                position: absolute;
                right: 0;
                bottom: 0;
            }

            .product-data_wrapper:nth-child(1) {
                order: 1;
                border: 1px solid #ccc;
                padding: 20px 30px;
            }

            .products-main {
                order: 2;
                margin-top: 35px;

                .products-main_caption {
                    margin-top: 0;
                }
            }

            .product-data_wrapper:nth-child(2) {
                order: 3;
            }
        }

        .rating-summary {
            display: none;
        }

        .review-title {
            display: none;
        }

        .products-main {
            .products-main_decor {
                width: 35%;
            }
        }
    }

    .block-content {
        .review-form {
            max-width: 100%;

            .action.submit.primary {
                width: 150px;
                height: 44px;
                background-color: #39b1b5;
                color: #fff;
            }

            .actions-toolbar.review-form-actions {
                margin-left: 40%;
            }
        }
        .fieldset {
            .review-legend.legend {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #6b6b6b;
            }

            .review-field-ratings,
            .review-field-summary {
                display: none;
            }

            .review-legend.legend {
                strong {
                    margin-left: 10px;
                    color: #6b6b6b;
                }
            }

            > .field:not(.choice) {
                > .label {
                    width: 14%;
                }
            }
        }
    }

    .product.attribute.description {
        .products-main_caption {
            margin-bottom: 25px;

            h2 {
                font-size: 18px;
            }

            .products-main_decor {
                width: 750px;
            }
        }
        .product-description_table {
            tr:nth-child(odd) {
                background-color: #fafafa;
            }

            td {
                padding: 5px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .catalog-product-view {
        .product-info-main-wrapper {
            .product-quick_order-wrapper {
                .submit {
                    input {
                        font-size: 15px;
                    }
                }
            }
            .product-add-form {
                .fieldset {
                    .actions {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__sl) {
    .product-inform_wrapper {
        .product-inform {
            .product-inform_original {
                margin-right: 10px;
            }
        }

        .product-inform_question {
            max-width: 310px;
            padding: 13px 5px;
        }
    }

    .column.main {
        .product-info-main-wrapper {
            flex-wrap: wrap;

            .product-quick_order {
                margin-right: 10px;
            }

            .product-quick_order {
                width: 100%;
                margin: 20px;
            }

            .delivery-terms {
                right: 10%;

                .delivery-terms_inform {
                    right: 130%;
                    z-index: 1;
                }
            }

            .product-original_popup {
                left: -90%;
            }

            .product-delivery_popup {
                left: -40%;
            }
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .catalog-product-view {
        .product-quick_order-wrapper {
            .submit {
                input {
                    font-size: 14px;
                }
            }
        }

        .product-info-price {
            margin-bottom: 10px;
        }

        .product-quick_order-wrapper {
            width: 100%;
        }

        .column.main {
            .product-info-main-wrapper {
                flex-direction: column;
                align-items: center;

                .product.media {
                    width: 100%;
                }

                .product-info-main {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 10px;
                }

                .delivery-terms {
                    position: relative;
                    right: 0;
                }

                .product-quick_order {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .product-original_popup {
                    top: 50%;
                    left: -10%;
                }

                .product-delivery_popup {
                    left: 35%;
                    top: 50%;

                }

                .delivery-terms_inform {
                    top: 100%;
                    left: 0;
                    z-index: 2;
                }
            }
        }
     }

    .block-content {
        .fieldset {
            .review-legend.legend  {
                flex-direction: column;
            }
        }
    }

    .block.review-add {
        .block-content {
            .review-form {
                .actions-toolbar.review-form-actions {
                    margin-left: 0;
                }
            }
        }
    }

    .catalog-product-view {
        .product-inform_wrapper {
            margin-bottom: 20px;
        }
    }

    .modals-wrapper {
        .modal-popup.modal-slide {
            left: 0;

            .modal-inner-wrap {
                margin: 30px auto;
                width: 330px;
            }
        }

        .modal-popup.modal-slide._inner-scroll {
            .modal-inner-wrap {
                min-height: 0;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .catalog-product-view {
        .column.main {
            .product-info-main-wrapper {
                .delivery-terms_inform {
                    top: 110%;
                    left: -120%;
                }

                .product-original_popup,
                .product-delivery_popup {
                    left: 10%
                }
            }
        }
    }
}

