<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Category layered navigation
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation
 */
?>

<?php if ($block->canShowBlock()): ?>
    <div class="block filter">
        <div class="block-title filter-title">
            <strong><?= /* @escapeNotVerified */ __('Shop By') ?></strong>
        </div>

        <div class="block-content filter-content">
            <?= $block->getChildHtml('state') ?>

            <?php if ($block->getLayer()->getState()->getFilters()): ?>
                <div class="block-actions filter-actions">
                    <a href="<?= /* @escapeNotVerified */ $block->getClearUrl() ?>" class="action clear filter-clear"><span><?= /* @escapeNotVerified */ __('Clear All') ?></span></a>
                </div>
            <?php endif; ?>
            <?php $wrapOptions = false; ?>
            <?php foreach ($block->getFilters() as $filter): ?>
                <?php if (!$wrapOptions): ?>
                    <strong role="heading" aria-level="2" class="block-subtitle filter-subtitle"><?= /* @escapeNotVerified */ __('Shopping Options') ?></strong>
                    <dl class="filter-options" id="narrow-by-list">
                <?php $wrapOptions = true; endif; ?>
                    <?php if ($filter->getItemsCount()): ?>
                        <dt role="heading" aria-level="3" class="filter-options-title"><?= $block->escapeHtml(__($filter->getName())) ?></dt>
                        <dd class="filter-options-content"><?= /* @escapeNotVerified */ $block->getChildBlock('renderer')->render($filter) ?></dd>
                    <?php endif; ?>
            <?php endforeach; ?>
            <?php if ($wrapOptions): ?>
                </dl>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
<div class = "block-mobile">
    <i class="fa fa-chevron-circle-down button" aria-hidden="true"></i>
    <i class="fa fa-times cross show" aria-hidden="true"></i>
</div>
<script>
    require(['jquery','matchMedia'],function ($) {
        mediaCheck({
            media:'(max-width:768px)',
            entry: function () {
                $('.block-mobile').click(function () {
                    if($('.cross').hasClass('show')) {
                        $('.cross').removeClass('show');
                        $('.button').addClass('show');
                    } else {
                        $('.button').removeClass('show');
                        $('.cross').addClass('show');
                    }

                });

                $('.button').click(function () {
                    $('.block.filter').animate({
                        top: '0'
                    }, 500 );
                });

                $('.cross').click(function () {
                    $('.block.filter').animate({
                        top: '-3000px'
                    }, 500 );
                });
            }
        })
    })
</script>
